[user]
	name = Yoann Ricordel
	email = leyaude@gmail.com
[core]
	editor = vim
	mergetool = vimdiff

[alias]
	ci = commit
	st = status
	ch = checkout
    co = checkout
	br = branch
    aa = add -A
    au = add -u
    ff = merge --ff-only
    noff = merge --no-ff
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
