buffergrep
clang_complete
eclim
matchit
mru
neocomplcache
nerdcommenter
nerdtree
nyancat-vim
Omnisharp
refresh_bundles.sh.orig
supertab
tagbar
tlib_vim
vim-addon-mw-utils
vim-dispatch
vim-fugitive
vim-fuzzyfinder
vim-hilinks
vim-l9
vim-powerline
vim-qshell
vim-snipmate
vim-snippets
xterm-color-table
