<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="Eclipse"> <action name="Execute">
				<execute>eclipse</execute>
			</action> </item>
			<item label="IDLE"> <action name="Execute">
				<execute>idle</execute>
			</action> </item>
			<item label="LibreOffice Writer/Web"> <action name="Execute">
				<execute>ooweb</execute>
			</action> </item>
			<item label="OpenJDK Monitoring &amp; Management Console"> <action name="Execute">
				<execute>jconsole</execute>
			</action> </item>
			<item label="OpenJDK Policy Tool"> <action name="Execute">
				<execute>policytool</execute>
			</action> </item>
			<item label="Python"> <action name="Execute">
				<execute>xterm -e python</execute>
			</action> </item>
			<item label="Qt Assistant"> <action name="Execute">
				<execute>assistant</execute>
			</action> </item>
			<item label="Qt Designer"> <action name="Execute">
				<execute>designer</execute>
			</action> </item>
			<item label="Qt Linguist"> <action name="Execute">
				<execute>linguist</execute>
			</action> </item>
		</menu>
		<menu id="2" label="Editors">
			<item label="AA Fire"> <action name="Execute">
				<execute>xterm -e aafire -driver slang</execute>
			</action> </item>
			<item label="GVim"> <action name="Execute">
				<execute>gvim</execute>
			</action> </item>
			<item label="Nano"> <action name="Execute">
				<execute>xterm -e nano</execute>
			</action> </item>
			<item label="Openoffice.org From Template"> <action name="Execute">
				<execute>oofromtemplate</execute>
			</action> </item>
			<item label="Vi"> <action name="Execute">
				<execute>xterm -e vi</execute>
			</action> </item>
			<item label="Vim"> <action name="Execute">
				<execute>xterm -e vim</execute>
			</action> </item>
		</menu>
		<menu id="18" label="Games">
			<menu id="10" label="Arcade">
				<item label="PacMan"> <action name="Execute">
					<execute>pacman</execute>
				</action> </item>
			</menu>
			<menu id="11" label="Board">
				<item label="Monopoly"> <action name="Execute">
					<execute>xterm -e monop</execute>
				</action> </item>
			</menu>
		</menu>
		<menu id="6" label="Graphics">
			<item label="F-Spot"> <action name="Execute">
				<execute>f-spot</execute>
			</action> </item>
			<item label="GNU Image Manipulation Program"> <action name="Execute">
				<execute>gimp-2.6</execute>
			</action> </item>
			<item label="Image Viewer"> <action name="Execute">
				<execute>gpicview</execute>
			</action> </item>
			<item label="LibreOffice Draw"> <action name="Execute">
				<execute>oodraw</execute>
			</action> </item>
			<item label="The GIMP"> <action name="Execute">
				<execute>gimp</execute>
			</action> </item>
			<item label="XGlyph"> <action name="Execute">
				<execute>xglyph</execute>
			</action> </item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer"> <action name="Execute">
				<execute>xterm -e alsamixer</execute>
			</action> </item>
			<item label="Exaile"> <action name="Execute">
				<execute>exaile</execute>
			</action> </item>
			<item label="PulseAudio Device Chooser"> <action name="Execute">
				<execute>padevchooser</execute>
			</action> </item>
			<item label="PulseAudio Volume Control"> <action name="Execute">
				<execute>pavucontrol</execute>
			</action> </item>
			<item label="VLC media player"> <action name="Execute">
				<execute>vlc</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser"> <action name="Execute">
				<execute>bssh</execute>
			</action> </item>
			<item label="Avahi VNC Server Browser"> <action name="Execute">
				<execute>bvnc</execute>
			</action> </item>
			<item label="Chromium"> <action name="Execute">
				<execute>chromium</execute>
			</action> </item>
			<item label="FTP"> <action name="Execute">
				<execute>xterm -e ftp</execute>
			</action> </item>
			<item label="Mail"> <action name="Execute">
				<execute>xterm -e mail</execute>
			</action> </item>
			<item label="Talk"> <action name="Execute">
				<execute>xterm -e talk</execute>
			</action> </item>
			<item label="Telnet"> <action name="Execute">
				<execute>xterm -e telnet</execute>
			</action> </item>
			<item label="TkVNC"> <action name="Execute">
				<execute>xterm -e tkvnc</execute>
			</action> </item>
		</menu>
		<menu id="3" label="Office">
			<item label="AbiWord"> <action name="Execute">
				<execute>abiword</execute>
			</action> </item>
			<item label="Evince"> <action name="Execute">
				<execute>evince</execute>
			</action> </item>
			<item label="LibreOffice"> <action name="Execute">
				<execute>ooffice</execute>
			</action> </item>
			<item label="LibreOffice Base"> <action name="Execute">
				<execute>oobase</execute>
			</action> </item>
			<item label="LibreOffice Calc"> <action name="Execute">
				<execute>oocalc</execute>
			</action> </item>
			<item label="LibreOffice Impress"> <action name="Execute">
				<execute>ooimpress</execute>
			</action> </item>
			<item label="LibreOffice Writer"> <action name="Execute">
				<execute>oowriter</execute>
			</action> </item>
			<item label="Openoffice.org Math"> <action name="Execute">
				<execute>oomath</execute>
			</action> </item>
		</menu>
		<menu id="39" label="Other">
			<item label="CMake"> <action name="Execute">
				<execute>cmake-gui</execute>
			</action> </item>
			<item label="Launchy"> <action name="Execute">
				<execute>launchy</execute>
			</action> </item>
			<item label="PulseAudio Preferences"> <action name="Execute">
				<execute>paprefs</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
			<item label="Dash"> <action name="Execute">
				<execute>xterm -e dash -i</execute>
			</action> </item>
			<item label="GIT"> <action name="Execute">
				<execute>xterm -e git</execute>
			</action> </item>
			<item label="rxvt-unicode"> <action name="Execute">
				<execute>urxvt</execute>
			</action> </item>
			<item label="Terminator"> <action name="Execute">
				<execute>terminator</execute>
			</action> </item>
			<item label="Thunar File Manager"> <action name="Execute">
				<execute>Thunar</execute>
			</action> </item>
			<item label="Tilda"> <action name="Execute">
				<execute>tilda</execute>
			</action> </item>
			<item label="Xterm"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
			<item label="XTerm (Unicode)"> <action name="Execute">
				<execute>uxterm</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Network Connections"> <action name="Execute">
						<execute>nm-connection-editor</execute>
					</action> </item>
				</menu>
				<menu id="35" label="Xfce">
					<item label="File Manager"> <action name="Execute">
						<execute>thunar-settings</execute>
					</action> </item>
					<item label="Notifications"> <action name="Execute">
						<execute>xfce4-notifyd-config</execute>
					</action> </item>
					<item label="Preferred Applications"> <action name="Execute">
						<execute>exo-preferred-applications</execute>
					</action> </item>
					<item label="Removable Drives and Media"> <action name="Execute">
						<execute>/usr/lib/xfce4/thunar-volman-settings</execute>
					</action> </item>
				</menu>
				<item label="CompizConfig Settings Manager"> <action name="Execute">
					<execute>ccsm</execute>
				</action> </item>
				<item label="Customize Look and Feel"> <action name="Execute">
					<execute>lxappearance</execute>
				</action> </item>
				<item label="Emerald Theme Manager"> <action name="Execute">
					<execute>emerald-theme-manager</execute>
				</action> </item>
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Panel tint2"> <action name="Execute">
					<execute>tint2conf</execute>
				</action> </item>
			</menu>
			<item label="Avahi Zeroconf Browser"> <action name="Execute">
				<execute>avahi-discover</execute>
			</action> </item>
			<item label="Bulk Rename"> <action name="Execute">
				<execute>/usr/lib/ThunarBulkRename</execute>
			</action> </item>
			<item label="Disk Utility"> <action name="Execute">
				<execute>palimpsest</execute>
			</action> </item>
			<item label="Htop"> <action name="Execute">
				<execute>xterm -e htop</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree.x11</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e /usr/bin/pstree.x11</execute>
			</action> </item>
			<item label="Top"> <action name="Execute">
				<execute>xterm -e top</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Editres"> <action name="Execute">
				<execute>editres</execute>
			</action> </item>
			<item label="Info"> <action name="Execute">
				<execute>xterm -e info</execute>
			</action> </item>
			<item label="Viewres"> <action name="Execute">
				<execute>viewres</execute>
			</action> </item>
			<item label="Xev"> <action name="Execute">
				<execute>xterm -e xev</execute>
			</action> </item>
			<item label="Xrefresh"> <action name="Execute">
				<execute>xrefresh</execute>
			</action> </item>
			<item label="Xsetroot"> <action name="Execute">
				<execute>xsetroot</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
		</menu>
	</menu>
</openbox_menu>
